<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="dashboard-container">
  <aside class="sidebar">
    <h2 class="logo">eLibery</h2>

    <nav>
      <ul>
        <li>
          <a routerLink="/books" routerLinkActive="active">
            <i class="fa-solid fa-book"></i>
            <span>Knjige</span>
          </a>
        </li>

        <li>
          <a routerLink="/users" routerLinkActive="active">
            <i class="fa-solid fa-users"></i>
            <span>Korisnici</span>
          </a>
        </li>

        <li>
          <a routerLink="/categories" routerLinkActive="active">
            <i class="fa-solid fa-tags"></i>
            <span>Kategorije</span>
          </a>
        </li>

        <li class="logout-item">
          <a (click)="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
