<app-header [title]="'Knjige'"></app-header>

<div class="page-container">
  <div *ngIf="loading" class="loader-wrapper">
    <div class="loader"></div>
  </div>

  <div *ngIf="error" class="error-box">
    {{ error }}
  </div>

  <div *ngIf="!loading && books.length" class="table-card">
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Naslov</th>
            <th>Autor</th>
            <th>Kategorija</th>
            <th class="text-center">Slika</th>
            <th>Opis</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let book of books; let i = index"
            [class.row-even]="i % 2 === 0"
            [class.row-odd]="i % 2 !== 0"
          >
            <td class="id-cell">{{ book.Id }}</td>
            <td class="title-cell">{{ book.Title }}</td>
            <td class="author-cell">{{ book.Author }}</td>
            <td>
              <span class="category-badge">
                {{ book.CategoryName }}
              </span>
            </td>
            <td class="image-cell">
              <img
                *ngIf="book.ImageUrl"
                [src]="book.ImageUrl"
                alt="Knjiga"
                class="book-img-mini"
              />
            </td>
            <td class="description-cell">
              
                {{ book.Description }}
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="!loading && !books.length" class="empty-state">
    📭 Trenutno nema dostupnih knjiga u bazi.
  </div>
</div>